* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

button {
    font-size: larger;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 0px 5px;
}


.button-container {
    width: min-content;
    display: flex;
    background-color: #797979;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;

}